  <span id="user_<%= @user.id %>">
      <%= render 'follow_form', user: @user if signed_in? %>
  </span>
  
  <h>
    <%= render 'users/stats' %>
  </h>
    
  <%#https://pikawaka.com/rails/render %>
  