<body>

  <div class="container">
    <div class="row mt3 presentation">
      <div class="centered">
        <i class="icon ion-ios7-paperplane-outline large-icon"></i>
        <h1>KNOW</h1>
        <hr>
      </div>

       <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
         <p>あなたの世界を写真で表現するアプリ”KNOW”へようこそ！新規登録またはログインをしてください。</p>
       </div>
      </div>
    
  <div class="row">
　　<div class="col-md-6 col-md-offset-3">
     　<div>
      　  <%= link_to 'Sign up', new_user_path, class: 'btn btn-block btn-black' %>
  　 　 </div>
  　　　  <div>
        <%= link_to 'Log in', login_path, class: 'btn btn-block btn-black' %>
       </div>
  　　　  <div>
        <%= link_to '画像投稿', new_topic_path, class: 'btn btn-block btn-black' %>
       </div> 
  　</div>
   </div>
  </div>


  <section id="end" class="section-footer">
    <div class="container centered ptb">
      <div class="col-md-6 col-md-offset-3">
        <h3>Polaroyd Template</h3>
        <p>Mellentesque habitant morbi tristique senectus<br/> et netus et malesuada famesac turpis egestas.</p>
        <p class="mt">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </p>
        <p>Copyright &copy; - <strong>Polaroyd</strong> All rights reserved.</p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/polaroyd-bootstrap-agency-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created with Polaroyd template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
      </div>
    </div>
  </section>

</body>