<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Polaroyd - Bootstrap Agency Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/photostack/photostack.css" rel="stylesheet">
  <link href="lib/fullpage-menu/fullpage-menu.css" rel="stylesheet">
  <link href="lib/cubeportfolio/cubeportfolio.css" rel="stylesheet">
  <link href="lib/superslides/superslides.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Polaroyd
    Template URL: https://templatemag.com/polaroyd-bootstrap-agency-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>

<div id="grid-container" class="cbp-l-grid-fullScreen">
    <ul>
      <li class="cbp-item identity">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/1.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/1.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item web-design">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/2.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/2.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic identity">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/3.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/3.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/4.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/4.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item identity">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/5.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/5.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item graphic">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/6.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/6.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item web-design">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/7.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/7.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
      <!-- end:Item -->
      <li class="cbp-item identity">
        <a class="cbp-caption cbp-lightbox" data-title="Image" href="img/works/8.jpg">
          <div class="cbp-caption-defaultWrap">
            <img src="img/works/8.jpg" alt="" class="img-responsive">
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <div class="cbp-l-caption-title">Image LightBox</div>
                <div class="cbp-l-caption-desc">by John Doe</div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/modernizr/modernizr.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/cubeportfolio/cubeportfolio.js"></script>
  <script src="lib/classie/classie.js"></script>
  <script src="lib/fullpage-menu/fullpage-menu.js"></script>
  <script src="lib/photostack/photostack.js"></script>
  <script src="lib/superslides/superslides.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
