<!DOCTYPE html>
<html>
  &lt;head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrapをダウンロードファイルから読み込んで使う</title>
    
    <!-- CSS読み込み -->
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body>
    <h1>Hello World</h1>
 
    <!-- jQuery読み込み JSよりも先に -->
    <script src="jquery-3.4.1.min.js"></script>
    <!-- popper.js js読み込み -->
    <script src="bootstrap.bundle.min.js"></script>
  </body>
</html>